<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filelocation_txtdir" value="./Module/"/>
    <add key="filelocation_pydir" value="./OfficialSystem/Header/"/>
    <add key="filelocation_xmlsettings" value="./xmlsettings/"/>
    <!--.808 compatibility, if this is true then instead of 
      function #args arg1 arg2 arg3...
      it's
      function (0) OR (0 0 0) always 3 args
      OPTIONAL key.  If it's not present it will be assumed false.>
    <add key="compat808" value="false"/-->
  </appSettings>
</configuration>