<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filelocation_scripts_txt" value="./Module/scripts.txt"/>
    <add key="filelocation_variables_txt" value="./Module/variables.txt"/>
    <add key="filelocation_factions_txt" value="./Module/factions.txt"/>
    <add key="filelocation_troops_txt" value="./Module/troops.txt"/>
    <add key="filelocation_itemkinds_txt" value="./Module/item_kinds1.txt"/>
    <add key="filelocation_scenes_txt" value="./Module/scenes.txt"/>
    <add key="filelocation_headercommonpy" value="./OfficialSystem/Header/header_common.py"/>
    <add key="filelocation_header_operations_py" value="./OfficialSystem/Header/header_operations.py"/>
  </appSettings>  
</configuration>